In [ ]:
# twenty= df[df["AGE"] == '20'].index.tolist()
# twenty_chld= []

# for i in twenty:
#      twenty_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(twenty_chld)):
#     if twenty_chld[j] > 10:
#         twenty_chld[j] = modefinder(twenty_chld)
# #20세인 사람의 자녀나이가 10세 이상 -> 최빈값

# twenty_five = df[df["AGE"] == '25'].index.tolist()
# twenty_five_chld = []
# for i in twenty_five:
#     twenty_five_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(twenty_five_chld)):
#     if twenty_five_chld[j] > 15:
#         twenty_five_chld[j] = modefinder(twenty_five_chld)
# #25세인 사람의 자녀나이가 10세 이상 -> 최빈값
# thirty = df[df["AGE"] == '30'].index.tolist()
# thirty_chld = []
# for i in thirty:
#     thirty_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(thirty_chld)):
#     if thirty_chld[j] > 20:
#         thirty_chld[j] = modefinder(thirty_chld)
# #30세인 사람의 자녀나이가 20세 이상 -> 최빈값
# thirty_five = df[df["AGE"] == '35'].index.tolist()
# thirty_five_chld = []
# for i in thirty_five:
#     thirty_five_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(thirty_five_chld)):
#     if thirty_five_chld[j] > 25:
#         thirty_five_chld[j] = modefinder(thirty_chld)
# thirty_five_chld = pd.DataFrame(thirty_five_chld)
# thirty_five_chld = thirty_five_chld.dropna()
# #35세인 사람의 자녀나이가 25세 이상 -> 최빈값
# # np.mean(thirty_chld)
# # #star_child = df[df["LAST_CHLD_AGE"].isnull() == True].index.tolist()
# fourty  = df[df["AGE"] == '40'].index.tolist()
# fourty_chld = []
# for i in fourty:
#     fourty_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(fourty_chld)):
#     if fourty_chld[j] > 30:
#         fourty_chld[j] = modefinder(fourty_chld)
# fourty_chld = pd.DataFrame(fourty_chld)
# fourty_chld = fourty_chld.dropna()
# #40세인 사람의 자녀나이가 30세 이상 -> 최빈값        
# fourty_five = df[df["AGE"] == '45'].index.tolist()
# fourty_five_chld = []
# for i in fourty_five:
#     fourty_five_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(fourty_five_chld)):
#     if fourty_five_chld[j] > 35 :
#         fourty_five_chld[j] = modefinder(fourty_five_chld)
# fourty_five_chld = pd.DataFrame(fourty_five_chld)
# fourty_five_chld = fourty_five_chld.dropna()
# #45세인 사람의 자녀나이가 35세 이상 -> 최빈값

In [ ]:
# fifty = df[df["AGE"] == '50'].index.tolist()
# fifty_chld = []
# for i in fifty:
#     fifty_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(fifty_chld)):
#     if fifty_chld[j] > 40:
#         fifty_chld[j] = modefinder(fifty_chld)
# fifty_chld = pd.DataFrame(fifty_chld)
# fifty_chld = fifty_chld.dropna()
# fifty_chld.isnull().sum()
#50세인 사람의 자녀 나이가 40세 이상 -> 최빈값

In [ ]:
# fifty_five = df[df["AGE"] == '55'].index.tolist()
# fifty_five_chld = []
# for i in fifty_five:
#     fifty_five_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(fifty_five_chld)):
#     if fifty_five_chld[j] > 45:
#         fifty_five_chld[j] =modefinder(fifty_five_chld)
# fifty_five_chld = pd.DataFrame(fifty_five_chld)
# fifty_five_chld = fifty_five_chld.dropna()
# #55세인 사람의 자녀 나이가 45세 이상 -> 최빈값 
# sixty = df[df["AGE"] == '60'].index.tolist()
# sixty_chld = []
# for i in sixty:
#     sixty_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(sixty_chld)):
#     if sixty_chld[j] > 50:
#         sixty_chld[j] =modefinder(sixty_chld)
# sixty_chld = pd.DataFrame(sixty_chld)
# sixty_chld = sixty_chld.dropna()
# # #60세인 사람의 자녀 나이가 50세 이상 -> 최빈값 
# sixty_five = df[df["AGE"] == '65'].index.tolist()
# sixty_five_chld = []
# for i in sixty_five:
#     sixty_five_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(sixty_five_chld)):
#     if sixty_five_chld[j] > 55:
#         sixty_five_chld[j] =modefinder(sixty_five_chld)
# sixty_five_chld = pd.DataFrame(sixty_five_chld)
# sixty_five_chld = sixty_five_chld.dropna()
# #65세인 사람의 자녀 나이가 55세 이상 -> 최빈값 
# seventy = df[df["AGE"] == '70'].index.tolist()
# seventy_chld = []
# for i in seventy:
#     seventy_chld.append(df["LAST_CHLD_AGE"][i])
# for j in range(len(seventy_chld)):
#     if seventy_chld[j] > 70:
#         seventy_chld[j] =modefinder(seventy_chld)
# seventy_chld = pd.DataFrame(seventy_chld)
# seventy_chld = seventy_chld.dropna()
#70세인 사람의 자녀 나이가 60세 이상 -> 최빈값

In [ ]:
# pd.value_counts(twenty_chld)#0세 234 4세 3 9세 3
# pd.value_counts(twenty_five_chld)# 0세 2091 4세 28 9세 48 14세 34 
# pd.value_counts(thirty_chld)# 0세 4703 3세 108 9세 227 14세 152 19세 78
# pd.value_counts(thirty_five_chld.values.flatten()) #0세 9583 4세 188 9세 848 14세 741 19세 319 24세 212 
# pd.value_counts(fourty_chld.values.flatten())#0세 9309 4세 100 9세 905 14세 2131 19세 1686 24세 383 29세 160
# pd.value_counts(fourty_five_chld.values.flatten())#0세 8873 4세 45 9세 456 14세 1890 19세 4323 24세 2670 29세 551 34세 222
# pd.value_counts(fifty_chld.values.flatten())#0세 6604 4세 35 9세 171 14세 564 19세 2291 24세 4666 29세 2490 34세 607 39세 209
# # pd.value_counts(fifty_five_chld.values.flatten())
# # pd.value_counts(sixty_chld.values.flatten())
# # pd.value_counts(sixty_five_chld.values.flatten())
# pd.value_counts(seventy_chld.values.flatten())

In [ ]:
# np.max(twenty_chld)#9
# np.min(twenty_five_chld)
# np.max(twenty_five_chld)#14
# modefinder(twenty_five_chld)
# np.max(thirty_chld)#19
# np.max(thirty_five_chld)#24
# np.max(fourty_chld)#29
# np.max(fourty_five_chld)#34
# np.max(fifty_chld)#39
# np.max(fifty_five_chld)#44
# np.max(sixty_chld)#49
# np.max(sixty_five_chld)#54
# np.max(seventy_chld)#54
# np.min(seventy_chld)

In [ ]:
twenty_mean = []
# for tc in twenty_chld:
#     if tc != 0:
#         twenty_mean.append(tc)
# twenty_five_mean = []
# for tfc in twenty_five_chld:
#     if tfc != 0:
#         twenty_five_mean.append(tfc)
# thirty_mean = []
# for ttc in thirty_chld:
#     if ttc != 0:
#         thirty_mean.append(ttc)
# twenty_mean = np.mean(twenty_mean)
# twenty_five_mean = np.mean(twenty_five_mean)
# thirty_mean = np.mean(thirty_mean)

# thirty_five_mean = []
# for k in thirty_five_chld:
#     if k != int(0):
#         thirty_five_mean.append(k)
# fourty_mean = []
# for fc in fourty_chld.values.flatten():
#     if fc != 0:
#         fourty_mean.append(fc)
# fourty_five_mean = []
# for ff in fourty_five_chld.values.flatten():
#     if ff != 0:
#         fourty_five_mean.append(ff)
# fifty_mean = []
# for fft in fifty_chld.values.flatten():
#     if fft != 0:
#         fifty_mean.append(fft)
# fifty_five_mean = []
# for fftf in fifty_five_chld.values.flatten():
#     if fftf != 0:
#         fifty_five_mean.append(fftf)
# sixty_mean = []
# for sc in sixty_chld.values.flatten():
#     if sc != 0:
#         sixty_mean.append(sc)
# sixty_five_mean = []
# for sf in sixty_five_chld.values.flatten():
#     if sf != 0:
#         sixty_five_mean.append(sf)
# seventy_mean = []
# for sv in seventy_chld.values.flatten():
#     if sv != 0:
#         seventy_mean.append(sv)
# # thirty_five_mean = np.mean(thirty_five_mean)
# # fourty_mean = np.mean(fourty_mean)
# # fourty_five_mean = np.mean(fourty_five_mean)
# # fifty_mean = np.mean(fifty_mean)
# # fifty_five_mean = np.mean(fifty_five_mean)
# # sixty_mean = np.mean(sixty_mean)
# # sixty_five_mean = np.mean(sixty_five_mean)
# # seventy_mean = np.mean(seventy_mean)

# thirty_five_mean = pd.DataFrame(thirty_five_mean)
# thirty_five_mean = thirty_five_mean.dropna().mean
# fourty_mean = pd.DataFrame(fourty_mean)
# fourty_mean = fourty_mean.dropna().mean()
# fourty_five_mean = pd.DataFrame(fourty_five_mean)
# fourty_five_mean = fourty_five_mean.dropna().mean()
# fifty_mean = pd.DataFrame(fifty_mean)
# fifty_mean = fifty_mean.dropna().mean()
# fifty_five_mean = pd.DataFrame(fifty_five_mean)
# fifty_five_mean = fifty_five_mean.dropna().mean()
# sixty_mean = pd.DataFrame(sixty_mean)
# sixty_mean = sixty_mean.dropna().mean()
# sixty_five_mean = pd.DataFrame(sixty_five_mean)
# sixty_five_mean = sixty_five_mean.dropna().mean()
# seventy_mean = pd.DataFrame(seventy_mean)
# seventy_mean = seventy_mean.dropna().mean()

In [ ]:
#  print("20:",twenty_mean, "25:",twenty_five_mean, "30:",thirty_mean, "35:",thirty_five_mean, "40:",fourty_mean)
# print('45:',fourty_five_mean, '50:',fifty_mean, '55:',fifty_five_mean, '60:',sixty_mean, '65:',sixty_five_mean, '70:',seventy_mean